.ball1 {
    text-decoration:none;
    font-weight:600;
    font-size:20px;
    color:#ffffff;
    background-color:#000000;
  }
 
  .ball2 {
    text-decoration:none;
    font-weight:600;
    font-size:20px;
    color:#ffffff;
    background-color:#000000;
  }
  
  .ball3 {
   text-decoration:none;
   font-weight:600;
   font-size:20px;
   color:#ffffff;
   background-color:#000000;
 }
 
 .ball4 {
   text-decoration:none;
   font-weight:600;
   font-size:20px;
   color:#ffffff;
   background-color:#000000;
 }
 
 .ball5 {
   text-decoration:none;
   font-weight:600;
   font-size:20px;
   color:#ffffff;
   background-color:#000000;
 }
 
 .ball6 {
   text-decoration:none;
   font-weight:600;
   font-size:20px;
   color:#ffffff;
   background-color:#000000;
 }
 
 .ball7 {
   text-decoration:none;
   font-weight:600;
   font-size:20px;
   color:#ffffff;
   background-color:#000000;
 }
 
 .ball8 {
   text-decoration:none;
   font-weight:600;
   font-size:20px;
   color:#ffffff;
   background-color:#000000;
 }
 
 .ball9 {
   text-decoration:none;
   font-weight:600;
   font-size:20px;
   color:#ffffff;
   background-color:#000000;
 }
 
 .ball10 {
   text-decoration:none;
   font-weight:600;
   font-size:20px;
   color:#ffffff;
   background-color:#000000;
 }